/* Figma Styles of your File */
:root {
    /* Colors */
    --material-theme-white: #ffffff;
    --material-theme-black: #000000;
    --material-theme-on-surface: #231919;
    --material-theme-on-primary-container: #3B080A;
    --material-theme-primary-25: #701C1E;
    --material-theme-primary-40: #9F3F3D;
    --material-theme-neutral-95: #FBEEEC;
    --material-theme-footer: #601D1D;

  }
  